@font-face {
  font-family: "Frederick";
  src: url("../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "PermanentMarker";
  src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Press2S";
  src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Ultra-regular";
  src: url("../fonts/Ultra/Ultra-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------
	Timeline
------------------------*/
.header {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  box-sizing: border-box;
  overflow: hidden;
}

section.intro {
  text-align: center;
}

section.intro h2,
section.intro h5 {
  font-weight: 300;
  margin-bottom: 10px;
}

h1,
h2,
h4,
h5,
h6,
p {
  color: #222;
}

h1 {
  font-size: 8vw;
  font-family: serif;
  font-weight: bold;
}

p {
  line-height: 1.4;
  margin-bottom: 18px;
}

body.dragging section {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.slider-navigation {
  position: fixed;
  top: 5%;
  right: 1vw;
  height: 90%;
  width: 4px;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-navigation .tick {
  display: none;
  position: relative;
  cursor: pointer;
  height: 4px;
  width: 20px;
  background: rgb(255, 255, 255);
}

.slider-navigation .tick:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 100%;
  z-index: -1;
}

.slider-navigation .nav-pointer {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(255, 255, 255);
  color: black;
  font-weight: 300;
  font-size: 12px;
  padding: 3px 8px;
  cursor: pointer;
  height: 22px;
  width: 44px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-navigation .nav-pointer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 100%;
  z-index: -1;
}

body.dragging {
  cursor: -webkit-grab;
  cursor: grab;
}

body.dragging .nav-pointer {
  -webkit-transition: none;
  transition: none;
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* ----------------------
  Section about-me
------------------------*/

.am-section {
  height: 750px;
}

.about-me {
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px transparent;
  border-style: solid dotted solid dotted;
}

.about-me * {
  background-color: black;
  color: lime;
  font-family: Courier New;
  box-sizing: border-box;
}

.about-me-logo {
  font-family: "Press2S";
  font-size: 50px;
}

.output {
  color: white;
}
.active:after {
  content: '_';
}

.hideme {
  display: none;
}

.about-me__content {
  font-size: 15px;
}

/* ----------------------
  particales js
------------------------*/
#changestyle {
  position: absolute;
  top: 40px;
  right: 125px;
  z-index: 9999;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ----------------------
  parallax-window
------------------------*/
.parallax-window {
    min-height: 250px;
    background: transparent;
}

.parallax-window-one {
  min-height: 250px;
  background: transparent;
}

.parallax-window-two {
  min-height: 350px;
  background: transparent;
}

.parallax-window-half {
    min-height: 200px;
    background: transparent;
}

/* ----------------------
  experience (company)
------------------------*/
.footer {
  background-color: black;
  height: 50px;
}

.footer-note {
  padding-top: 200px;
  text-align: center;
  color: yellow;
  font-size: 50px;
  font-family: "PermanentMarker";
}

/* ----------------------
  experience (company)
------------------------*/

.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 25px;
  border: 2px solid black;
  box-shadow: 2px 5px 4px 5px #00000062;
  box-sizing: border-box;
}

.one-block {
  font-family: "Roboto-regular";
  border-style: dashed solid;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  min-width: 500px;
  max-width: 50%;
  text-align: left;
  color: #FFFFFF;
  margin: 5px;
  padding: 10px;
}

.one-block h3 {
  font-family: "Press2S";
}

@media only screen and (max-width: 1100px) {
  .hide-mobile {
    display: none;
  }
}

.one-block:hover {
  background: lime;
  color: black;
  border-color: black;
  border-style: dashed;
}

.one-block pre {
  overflow: hidden;
  font-size: 15px;
}

.one-block label {
  width: 90px;
  padding-right: 15px;
  text-align: right;
}

.block-data {
  font-size: 15px;
  padding: 5px 0 0;
}


/* ----------------------
  social-links color
------------------------*/
.fa-github-alt {
  color: black;
}

.fa-linkedin {
  color: #007bb6;
}

/* ----------------------
  name card
------------------------*/
.profile {
  width: 100%;
  height: auto;
  position: absolute;
  top: 35%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.445);
}

.profile-info {
  color: #FFFFFF;
}

.profile-info a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px 30px;
}

.profile a:after {
  position: absolute;
  content: "";
  bottom: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
}

.profile a > img {
  width: 140px;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.274);
}

.profile a:hover > img {
  box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.1);
}

.profile-info h1, h2{
  color: #FFFFFF;
  font-family: "Press2S";
  font-size: large;
}

.profile-info p {
  color: #FFFFFF;
  font-family: "PermanentMarker";
  font-size: large;
}

.profile-info ul {
  list-style: none;
  padding-left: 30%;
  padding-right: 30%;
}

.profile-info li {
  list-style: none;
  float: left;
  width: 50%;
  text-align: center;
}

.profile-info li:hover {
  list-style: none;
  float: left;
  width: 50%;
  text-align: center;
}

.profile-info li a {
  display: inline-block;
  position: relative;
  overflow: hidden !important;
}

.profile-info li a i {
  position: relative;
  z-index: 1;
  font-size:40px;
  color:rgb(255, 255, 255);
}

.profile-info li a i:hover {
  color:rgb(110, 255, 70);
}

.profile-info li a img,
.profile-info li a svg {
  width: 24px;
}