@font-face {
  font-family: "Frederick";
  src: url("../fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "PermanentMarker";
  src: url("../fonts/Permanent_Marker/PermanentMarker-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Press2S";
  src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Roboto-regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "Ultra-regular";
  src: url("../fonts/Ultra/Ultra-Regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------
	Timeline
------------------------*/
.wrap {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
}

.header {
  position: relative;
  z-index: 999;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  box-sizing: border-box;
  overflow: hidden;
}

section.intro {
  text-align: center;
}

section.intro h2,
section.intro h5 {
  font-weight: 300;
  margin-bottom: 10px;
}

h1,
h2,
h4,
h5,
h6,
p {
  color: #222;
}

h1 {
  font-size: 8vw;
  font-family: serif;
  font-weight: bold;
}

p {
  line-height: 1.4;
  margin-bottom: 18px;
}

body.dragging section {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.slider-navigation {
  position: fixed;
  top: 5%;
  right: 1vw;
  height: 90%;
  width: 4px;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-navigation .tick {
  display: none;
  position: relative;
  cursor: pointer;
  height: 4px;
  width: 20px;
  background: rgb(255, 255, 255);
}

.slider-navigation .tick:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 100%;
  z-index: -1;
}

.slider-navigation .nav-pointer {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(255, 255, 255);
  color: black;
  font-weight: 300;
  font-size: 12px;
  padding: 3px 8px;
  cursor: pointer;
  height: 22px;
  width: 44px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-navigation .nav-pointer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 100%;
  z-index: -1;
}

body.dragging {
  cursor: -webkit-grab;
  cursor: grab;
}

body.dragging .nav-pointer {
  -webkit-transition: none;
  transition: none;
}

.unselectable{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* ----------------------
  Section about-me
------------------------*/

.am-section {
  height: 750px;
}

.about-me {
  background-color: black;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px lime;
  border-style: solid dotted solid dotted;
}

.about-me * {
  background-color: black;
  color: lime;
  font-family: Courier New;
  box-sizing: border-box;
}

.about-me-logo {
  font-family: "Press2S";
  font-size: 50px;
}

.output {
  color: white;
}
.active:after {
  content: '_';
}

.hideme {
  display: none;
}

.about-me__content {
  font-size: 15px;
}

/* ----------------------
  particales js
------------------------*/
#changestyle {
  position: absolute;
  top: 40px;
  right: 125px;
  z-index: 9999;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ----------------------
  parallax-window
------------------------*/
.parallax-window {
    min-height: 250px;
    background: transparent;
}

.parallax-window-one {
  min-height: 250px;
  background: transparent;
}

.parallax-window-two {
  min-height: 350px;
  background: transparent;
}

.parallax-window-half {
    min-height: 200px;
    background: transparent;
}

/* ----------------------
  experience (company)
------------------------*/
.footer {
  background-color: black;
  height: 50px;
}

.footer-note {
  padding-top: 200px;
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "PermanentMarker";
}

/* ----------------------
  experience (company)
------------------------*/

.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 25px;
  border: 2px solid black;
  box-shadow: 2px 5px 4px 5px #00000062;
  box-sizing: border-box;
}

.one-block {
  font-family: "Roboto-regular";
  border-style: dashed solid;
  display: inline-block;
  box-sizing: border-box;
  line-height: 1;
  min-width: 500px;
  max-width: 50%;
  text-align: left;
  color: #FFFFFF;
  margin: 5px;
  padding: 10px;
}

.one-block h3 {
  font-family: "Press2S";
}

@media only screen and (max-width: 1100px) {
  .hide-mobile {
    display: none;
  }
}

.one-block:hover {
  background: lime;
  color: black;
  border-color: black;
  border-style: dashed;
}

.one-block pre {
  overflow: hidden;
  font-size: 15px;
}

.one-block label {
  width: 90px;
  padding-right: 15px;
  text-align: right;
}

.block-data {
  font-size: 15px;
  padding: 5px 0 0;
}


/* ----------------------
  social-links color
------------------------*/
.fa-github-alt {
  color: black;
}

.fa-linkedin {
  color: #007bb6;
}

/* ----------------------
  name card
------------------------*/
.profile-card h1,
.profile-card h2 {
  font-weight: 500;
  margin: 0px 0px 0px 0px;
}

.profile-card h1 {
  font-size: 25px;
}

.profile-card h2 {
  font-size: 15px;
  font-family: "Roboto-regular";
}

.profile-card p {
  margin: 0px;
}

.profile-card {
  background: red;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 100;
  overflow: hidden;
  opacity: 0;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(255, 255, 255, 0.233), 0px 3px 6px rgb(0, 0, 0);
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card .header h1 {
  color: #FFFFFF;
  font-family: "Press2S";
  font-size: large;
}

.profile-card .header h2 {
  color: #FFFFFF;
}

.profile-card .header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px 30px;
}

.profile-card .header a:after {
  position: absolute;
  content: "";
  bottom: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
  animation: scaleIn 0.3s 3.5s ease forwards;
}

.profile-card .header a > img {
  width: 140px;
  max-width: 100%;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.274);
}

.profile-card .header a:hover > img {
  box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.1);
}

.profile-card .profile-bio {
  width: 175px;
  height: 120px;
  display: inline-block;
  background: transparent;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card .profile-bio p{
  font-family: "PermanentMarker";
  color: #FFFFFF;
  padding-top: 20px;
}

.profile-social-links {
  display: block;
  float: right;
  text-align: center;
  opacity: 0;
  padding-top: 20px;;
  box-sizing: border-box;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
  list-style: none;
  float: left;
  width: 50%;
  text-align: center;
}

.profile-social-links li:hover {
  list-style: none;
  float: left;
  width: 50%;
  text-align: center;
}

.profile-social-links li a {
  display: inline-block;
  position: relative;
  overflow: hidden !important;
  background: transparent;
}

.profile-social-links li a i {
  position: relative;
  z-index: 1;
  font-size:40px;
  color:rgb(255, 255, 255);
}

.profile-social-links li a i:hover {
  color:rgb(110, 255, 70);
}

.profile-social-links li a img,
.profile-social-links li a svg {
  width: 24px;
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: red;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: lime;
  }
}

@keyframes moveUp {
  0% {
    background: red;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: lime;
  }
}

@-webkit-keyframes materia {
  0% {
    background: lime;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: lime;
    -webkit-border-radius: 4px;
  }
}

@keyframes materia {
  0% {
    background: lime;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: lime;
    border-radius: 4px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @ -webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

.profile-card .header {
  width: auto;
  height: 260px;
  top: 20px;
  padding: 20px 20px;
  display: block;
  float: none;
  border-right: none;
  background: transparent;
}
.profile-card .profile-bio {
  width: auto;
  height: auto;
  padding: 55px 20px 35px;
  display: block;
  float: none;
  background: transparent;
}
.profile-social-links {
  width: 100%;
  display: block;
  float: none;
  background: transparent;
}

@keyframes materia {
  0% {
    background: lime;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 320px;
    height: 460px;
    background-image: url("../img/bg2.jpg");
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;  
  }
}